div[id="target_1"]{
    background-color: darkred;
    font: white;
}
#target_2{
    display: none;
}
#textfield_1{
    border-radius: 14px;
    border: 4px dotted darkblue;
    width: 200px;
    height: 150px;
}